openapi: 3.0.0

servers:
  - url: https://api.welcomesoftware.com/v3
    description: v3 version of _Welcome_ Open API

info:
  version: 'V3'
  title: Welcome Open API Documentation
  description: |
    # Introduction

    _Welcome_ Open API Documentation.

    Base URL: https://api.welcomesoftware.com/v3

    _**Note**: From 28th March 2021, we are serving open API through https://api.welcomesoftware.com/v3. We encourage to update your integrations to use the new base URL. The previous base URL: https://api.newscred.com/v3 will remain functional as it used to be until any further notice._

    _Welcome_ also offers webhooks for certain events. [Webhooks documentation](webhooks.html).

    # Authentication

    _Welcome_ Open API uses OAuth 2.0 as it's authorization mechanism. In order to consume the API you need to register an OAuth 2.0 app for a _Welcome_ organization.

    The supported OAuth 2.0 flow is [`authorization code`](https://tools.ietf.org/html/rfc6749#section-4.1). In this flow the OAuth 2.0 app needs to be a web app hosted in a server. The server hosting the web app must know and protect the `client id` and `client secret`.

    ## Authorization server
    1. Host: `https://accounts.welcomesoftware.com`
    2. Authorization endpoint: `https://accounts.welcomesoftware.com/o/oauth2/v1/auth`
    3. Scopes: `openid`, `profile` and `offline_access` (These scopes are delimited by a single space. All of these scopes must be passed to the authorization endpoint)
    4. Token endpoint: `https://accounts.welcomesoftware.com/o/oauth2/v1/token`
    5. Userinfo endpoint (can be used to validate access token): `https://accounts.welcomesoftware.com/o/oauth2/v1/userinfo`

    ## Registering OAuth 2.0 apps in Welcome
    To register an app, you will need to provide the following information
    - **_Welcome_ Organization name**: Name of a _Welcome_ Organization for which the app will be registered
    - **Redirect URL**: A valid URL of the server hosting the web app where the _Welcome_ authorization server will send back the authorization code
    - **App name**: A name for the app

    On successful registration, you will receive a `client_id` and a `client_secret` from _Welcome_ with which you can request for `access_token` and `refresh_token` from the _Welcome_ authorization server.

    ## Authorization code flow
    _Welcome_ supports only the authorization code flow for OAuth 2.0.

    <img src="/oauth-flow.png" alt="OAuth 2.0">

    1. User opens the web app in browser. User must be registered with the organization with which the app is associated.
    1. User performs some action in the web app to begin the authorization process. In usual case it is clicking a button.
    1. User is redirected to the authorization server.
        ```
        HTTP GET
        https://accounts.welcomesoftware.com/o/oauth2/v1/auth?client_id=12345678-1234-1234-1234-123456789012&redirect_uri=https://my-web-app.com/o/oauth/callback&response_type=code&scope=openid%20profile%20offline_access
        ```
        `client_id` is the client id of the app that you have registered, and `redirect_uri` is the redirect url of the app provided when the app was registered.
    1. Authorization server logs the user in, if user is not logged in.
    1. Through logging in, user gives the consent to the app to access the user's data from _Welcome_.
    1. User is redirected to the redirect url of the app with the authorization code.
        ```
        HTTP GET
        https://my-web-app.com/o/oauth/callback?code=87654321-4321-4321-4321-210987654321
        ```
        `code` is the authorization code.
    1. The web app makes an HTTP POST request to the authorization server to obtain an `access_token` and a `refresh_token`
        ```
        HTTP POST
        https://accounts.welcomesoftware.com/o/oauth2/v1/token

        Request payload:
            {
                "client_id": "12345678-1234-1234-1234-123456789012",
                "client_secret": "my-encrypted-secret-1234",
                "code": "87654321-4321-4321-4321-210987654321",
                "grant_type": "authorization_code",
                "redirect_uri": "https://my-web-app.com/o/oauth/callback"
            }

        Response payload:
            {
                "access_token": "b3717c0a-6857-4858-8274-9fe7b51180c9",
                "refresh_token": "ff7d31df-ad4d-4a62-9291-877df0757478",
                "id_token": "some-jwt-token",
                "expires_in": 3599,
                "token_type": "Bearer"
            }
        ```
    1. (Optional) Server can validate the received access token by making an HTTP GET request to the authorization server by passing the `access_token` in the `Authorization` HTTP header with `Bearer ` prefix. For example
        ```
        HTTP GET
        https://accounts.welcomesoftware.com/o/oauth2/v1/userinfo

        Headers:
          Authorization: Bearer b3717c0a-6857-4858-8274-9fe7b51180c9
        ```
    1. Now the web server can use the Open API by passing the `access_token` in the `Authorization` HTTP header with `Bearer ` prefix. For example
        ```
        HTTP GET
        https://api.welcomesoftware.com/v3/assets

        Headers:
          Authorization: Bearer b3717c0a-6857-4858-8274-9fe7b51180c9
        ```
    1. If the `access_token` expires, the web server can get a new `access_token`, using the `refresh_token`, by making an HTTP POST request to the authorization server
        ```
        HTTP POST
        https://accounts.welcomesoftware.com/o/oauth2/v1/token

        Request payload:
            {
                "client_id": "12345678-1234-1234-1234-123456789012",
                "client_secret": "my-encrypted-secret-1234",
                "refresh_token": "ff7d31df-ad4d-4a62-9291-877df0757478",
                "grant_type": "refresh_token"
            }

        Response payload:
            {
                "access_token": "bd680785-b090-40ca-9a32-22df51e96e7a",
                "refresh_token": "e053d83e-14e1-4ba4-b18e-ea654b39a02e",
                "id_token": "some-jwt-token",
                "expires_in": 3599,
                "token_type": "Bearer"
            }
        ```

    ## Token revocation
    You can revoke the tokens generated by the Authorization code flow.

    ### Revoke access token
    Revoke an `access_token` by making an HTTP POST request to the authorization server.
      ```
      HTTP POST
      https://accounts.welcomesoftware.com/o/oauth2/v1/revoke

      Request payload:
          {
            "token": "bd680785-b090-40ca-9a32-22df51e96e7a",
            "token_type_hint": "access_token",
            "client_id": "12345678-1234-1234-1234-123456789012",
            "client_secret": "my-encrypted-secret-1234"
          }

      Response payload:
          {
              "msg": "success"
          }
      ```

    ### Revoke refresh token
    Revoke a `refresh_token` by making an HTTP POST request to the authorization server.
      ```
      HTTP POST
      https://accounts.welcomesoftware.com/o/oauth2/v1/revoke

      Request payload:
          {
            "token": "e053d83e-14e1-4ba4-b18e-ea654b39a02e",
            "token_type_hint": "refresh_token",
            "client_id": "12345678-1234-1234-1234-123456789012",
            "client_secret": "my-encrypted-secret-1234"
          }

      Response payload:
          {
              "msg": "success"
          }
      ```

    ### Revoke token without mentioning any token type
    A token can be revoked without passing the `token_hint_type` field in the request payload. The passed token can either be an `access_token` or a `refresh_token`. The authorization server will automatically deduce the type of the token and revoke it.
      ```
      HTTP POST
      https://accounts.welcomesoftware.com/o/oauth2/v1/revoke

      Request payload:
          {
            "token": "e053d83e-14e1-4ba4-b18e-ea654b39a02e",
            "client_id": "12345678-1234-1234-1234-123456789012",
            "client_secret": "my-encrypted-secret-1234"
          }

      Response payload:
          {
              "msg": "success"
          }
      ```

    ## Organization association
    An app must be associated with a _Welcome_ organization. An app cannot be associated with multiple _Welcome_ organizations.

    ## Resource Owner
    The resource owner authorizing the app, i.e. the _Welcome_ user whose data will be accessed via the Open API, must be registered with the associated organization.

    ## App modes
    Apps can be created in `development` or in `production` mode depending on your need. If you plan to develop a new app and not publish it to real users, you can leverage the `development` mode for longer TTL.

    ### Development mode
    - TTL for access token: 30 days

    ### Production mode
    - TTL for access token: 1 hour

    # Uploading assets

    ## Uploading assets (images, videos and raw files) to Library or Task
    1. Fetch the presigned upload URL and it's related meta fields using the [`GET /v3/upload-url`](#tag/Uploader/paths/~1upload-url/get) endpoint. **The validity time for this URL is 60 minutes**.
    1. Upload the file, along with the related meta fields, through an HTTP POST request to the presigned upload URL. Payload must be in `multipart/form-data`. The field name for the file must be `file`. Please make sure that the meta fields are in the same order as they are received. The `file` field must be appended at the end. **If this url is hit multiple times with the same meta fields, the last successfully uploaded file will be used to create the asset in the next step**.
    1. Upon success (204 HTTP response code) from the presigned URL, hit the POST endpoint for desired destination (Library or Task) passing the `key` which was previously obtained from the `GET /v3/upload-url` endpoint and an arbitrary `title` as the request payload. **If this endpoint is hit multiple times with the same `key`, each time a new asset will be created for the same uploaded file**.

    #### POST endpoints:
     - Add asset to Library: [`POST /v3/assets`](#tag/Library/paths/~1assets/post)
     - Add version to a Library Asset: [`POST /v3/assets/{asset_id}/versions`](#tag/Library/paths/~1assets~1{asset_id}~1versions/post)
     - Add asset to a Task: [`POST /v3/tasks/{id}/assets`](#tag/Tasks/paths/~1tasks~1{id}~1assets/post)
     - Add draft to a Task Asset: [`POST /v3/tasks/{task_id}/assets/{asset_id}/drafts`](#tag/Tasks/paths/~1tasks~1{task_id}~1assets~1{asset_id}~1drafts/post)

    # Updating a resource

    ## Labels PATCH behavior
    Suppose a resource has the following `labels`:
    ```
    - group: P
      - values: a, b, c
    - group: Q
      - values: x, y, z
    ```
    Now if a PATCH request is made with the following `labels`:
    ```
    - group: R
      - values: i, j
    ```
    Then the updated resource will have the following `labels`:
    ```
    - group: R
      - values: i, j
    ```

    # Rate limiting
    - **Rate limit:** 10 requests per second per organization
    - **Request quota:** 200,000 requests per month per organization

    # Backward compatibility

    The following changes are considered to be backward compatible for _Welcome_ Open API:

    - Adding a new endpoint or support for a new HTTP method
    - Adding a new field to the response payload
    - Adding a new optional field to the request payload
    - Adding support for an optional query parameter
    - Adding a value to an enum
    - Adding support for a new optional request header
    - Adding a new response header

    # Recommendations

    - Do not build URLs manually to fetch related resources, rather use the URLs provided in the `links` field in the response as-is without any manipulation.

tags:
  - name: Uploader
  - name: Library
  - name: Labels
  - name: Tasks
    description: |
      These endpoints are primarily used to facilitate the integration of external systems with _Welcome_ through the following two use cases:

      1. **External Work Management**: When a single step in the _Welcome_ workflow is to be monitored by an external system such as in the case of Jira, AHa!, or any other type of project management system. These endpoints can be used to link the _Welcome_ step to an external system 'ticket'. Subsequently, the external system can send status updates back to _Welcome_ so that the _Welcome_ user receives in-app updates as to the status of the 'ticket' in the external system.

      2. **External Document Approval** (a.k.a. Marketing Legal Review): When a single step in the _Welcome_ workflow is to defer approval of marketing assets to an external system such as in the case of Veeva PromoMats. These endpoints can be used to link the _Welcome_ step and all of the content assets to the external system so that they can be reviewed, annotated/updated, and then finally approved. Subsequently, the approval status can be sent back to _Welcome_ so that the _Welcome_ user receives in-app updates as to the final approval status of the documents from the external system.

      For more information on these use cases, please contact _Welcome_ Support for further assistance.
  - name: Campaigns
  - name: Users
  - name: Settings

x-tagGroups:
  - name: API
    tags:
      - Uploader
      - Library
      - Labels
      - Tasks
      - Campaigns
      - Users
      - Settings

paths:
  /upload-url:
    get:
      tags:
        - Uploader
      summary: GET /upload-url
      description: Get a presigned URL and related meta fields to upload a file. **The validity time for this URL is 60 minutes**.
      responses:
        '200':
          description: Fetched presigned upload URL and related meta fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  url:
                    description: Presigned URL to use for uploading a file with an **HTTP POST** request as `multipart/form-data`
                    type: string
                    example: https://newscred-cmp-files.s3-accelerate.amazonaws.com/
                  upload_meta_fields:
                    description: Related meta fields to upload a file. **Items within this field must be sent along as paylod of the POST request, along with the file, to the presigned upload URL**
                    type: object
                    additionalProperties: false
                    properties:
                      key:
                        description: Unique identifier of the file upload session. **This key must be used in the `POST /v3/assets` endpoint to complete the asset upload**
                        type: string
                        example: ce8995aea58b11ea8cd90242ac120005
                      policy:
                        # description: Base64 encoded policy of s3 for the file being uploaded
                        type: string
                        example: eyJleHBpcmF0aW9uIjogIjIwMjAtMDYtMDNUMTY6MTc6NTbbbbbbImNvbmRpdGlvbnMiOiBbeyJidWNrZXQiOiAibmV3c2NyZWQtY21wLWZpbGVzIn0sIHsia2V5IjogIjY3Y2NhMzcxYTVhZDExZWFiNDNhMGExMjlmMDhlZWQ5In0sIHsieC1hbXotYWxnb3JpdGhtIjogIkFXUzQtSE1BQy1TSEEyNTYifSwgeyJ4LWFtei1jcmVkZW50aWFsIjogIkFTSUFVTlVMQkwzV082RDdSWkZILzIwMjAwNjAzL3VzLWVhc3QtMS9zMy9hd3M0X3JlcXVlc3QifSwgeyJ4LWFtei1kYXRlIjogIjIwMjAwNjAzVDE1MTc1N1oifSwgeyJ4LWFtei1zZWN1cml0eS10b2tlbiI6ICJJUW9KYjNKcFoybHVYMlZqRUE4YUNYVnpMV1ZoYzNRdE1TSkhNRVVDSUQrc2FrelZIK05zN0Z4UmtsaW9CZFdldjdZRXlIcHBoVjEyNnRsL0ZadjNBaUVBODFOV1l5TUt1L0UvZ1FyaUlhaVhMaXpxSFFuNnlxTWlWSzQzeU9xYTUaaaaaaU1JZHhBQUdnd3pNRFF4TmpBMU16QXhOVFlpRERxMlN3dVJTR2ZGL2hGRXpDcVJBMlo4NmpkRzNQczMzY3c5bFpFeVBpbmdWSnV0WUQ0RXZuU291NFR1NG9WaGhEZUwyS0QxdFREZmMrNHJmVWRMQ2Y1SWpzb3VRYldMekIzczRXZ2xMQUJFOFJ0VUM5K0o1bVpJUTlYNzJVa0xOUjA0UURpVlliSjdxNS95S25VNUFSZWUzQXdqVHp3UWZPS3dsTnRFODYyVWo4MXlWbDhMdS81d3kwaU5hZFpvbkZPcVBONldJWURpdi9MVzlLKzhWNjRNS2E5bDhtcG1kVll3RWJ2dTRiMENJVFIxQ0tjUHlzVkFNODBKdnZ0aklvQTZXc3RDcWxiM0ZHZEFGVmlnaDdId3JKL3greFNZVU5YVzFvaFNlUExDNXFPSCtoZ2ZqRFVOSDMvbXhEV2V4dWhQbDFGSjF6VlpZQzBMY2U0Y1F6dEtPbTgzZFBqcWI4a09pQVBUWVB3MGFmYnl0QUQyVE8vTmhZdHlvU1BzL0xWS1FYWXhyYk5MZ3N6azRMUjdLeUEydlA5NkJRMll6aVhnWDhTTm13bklDcWRiY2dzZitvNnBWOXRlTlJIczdIS3N2Qm9HYVFESTVhUDQrcmQ1K0h0aWM3RUZqSDlDUkk1bnBpL3cvTVlodkc0dXljWDR4cEJSeE5iSURWbFpuYTBEaUkvVkxmV3JjOWtkUFBhdm10QVhtVHR1U2c4aFFVMnNzMSt0dEJqaE1NRGkzdllGT3VzQnJEMDMyc1BlMWx0QUNRSzlVQUxEUmFYT2VIWjNXbThTVjZlMTErWVhnd3JKZkloQlp2a053OGxHdkRuN2FSK2hXUkpPazljY3pHOC9DTzRqZk8xVlpkZ3N2YU5PaEhpc01sQXVOMVJXallXUGJWRkRoajV3ekZ0OTQrcmJwdFd3dk9vamtXVElUM0o5SWtSNTF6SWJhc1VqTW4rOHRiSjFJbHJnWVFOaDVaaUVPTGZ1bFVHZWl1L2xXdERFbFhKUy9sS0pUTnV1YU1DRnU0NnBocTlvVE9EMWtmSVYrUEFxZEZYV2xQbVZKK3lXeGRLellSV1creDdERjJ6dnZmZm1nc0JBWU01eDh6aEJ3YWIrSXkvTGR6eWdQVUFnaTFTUE9oSktFRjNBejU4aVArdGFDbUxhdmo5cGFRPT0ifV19
                      x-amz-algorithm:
                        # description: Hash algorithm that is used to create the request signature
                        type: string
                        example: AWS4-HMAC-SHA256
                      x-amz-credential:
                        # description: Credential scope value of aws
                        type: string
                        example: ASIAAAAAAA3WO6D7RZFH/20343603/us-east-1/s3/aws4_request
                      x-amz-date:
                        # description: Date that is used to create the signature. The format must be ISO 8601 basic format
                        type: string
                        example: 20200603T151757Z
                      x-amz-security-token:
                        # description: Temporary security token from aws
                        type: string
                        example: IQoJb3JpZ2luX2VjEA8ccccccWVhc3QtMSJHMEUCID+sakzVH+Ns7FxRklioBdWev7YEyHpphV126tl/FZv3AiEA81NWYyMKu/E/gQriIaiXLizqHQn6yqMiVK43yOqa52AqtAMIdxAAGgwzMDQxNjA1MzAxNTYiDDq2SwuRSGfFddddddqRA2Z86jdG3Ps33cw9lZEyPingVJutYD4EvnSou4Tu4oVhhDeL2KD1tTDfc+4rfUdLCf5IjsouQbWLzB3s4WglLABE8RtUC9+J5mZIQ9X72UkLNR04QDiVYbJ7q5/yKnU5ARee3AwjTzwQfOKwlNtE862Uj81yVl8Lu/5wy0iNadZonFOqPN6WIYDiv/LW9K+8V64MKa9l8mpmdVYwEbvu4b0CITR1CKcPysVAM80JvvtjIoA6WstCqlb3FGdAFVigh7HwrJ/x+xSYUNXW1ohSePLC5qOH+hgfjDUNH3/mxDWexuhPl1FJ1zVZYC0Lce4cQztKOm83dPjqb8kOiAPTYPw0afbytAD2TO/NhYtyoSPs/LVKQXYxrbNLgszk4LR7KyA2vP96BQ2YziXgX8SNmwnICqdbcgsf+o6pV9teNRHs7HKsvBoGaQDI5aP4+rd5+Htic7EFjH9CRI5npi/w/MYhvG4uycX4xpBRxNbIDVlZna0DiI/VLfWrc9kdPPavmtAXmTtuSg8hQU2ss1+ttBjhMMDi3vYFOusBrD032sPe1ltACQK9UALDRaXOeHZ3Wm8SV6e11+YXgwrJfIhBZvkNw8lGvDn7aR+hWRJOk9cczG8/CO4jfO1VZdgsvaNOhHisMlAuN1RWjYWPbVFDhj5wzFt94+rbptWwvOojkWTIT3J9IkR51zIbasUjMn+8tbJ1IlrgYQNh5ZiEOLfulUGeiu/lWtDElXJS/lKJTNuuaMCFu46phq9oTOD1kfIV+PAqdFXWlPmVJ+yWxdKzYRWW+x7DF2zvvffmgsBAYM5x8zhBwab+Iy/LdzygPUAgi1SPOhJKEF3Az58iP+taCmLavj9paQ==
                      x-amz-signature:
                        # description: Specifies the hex-encoded signature that was calculated from the string to sign and the derived signing key
                        type: string
                        example: 0e67ede744d4aed62aaaaaa8e87648b3e98a3e611ccccccc89963bcf70bd02f9
                    required:
                      - key
                      - policy
                      - x-amz-algorithm
                      - x-amz-credential
                      - x-amz-date
                      - x-amz-security-token
                      - x-amz-signature
                required:
                  - url
                  - upload_meta_fields
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /folders:
    get:
      tags:
        - Library
      summary: GET /folders
      description: Get the list of folders. Folders are sorted by `modified_at` in descending order.
      parameters:
        - name: parent_folder_id
          in: query
          required: false
          description: ID of the parent folder to filter by
          schema:
            type: string
          example: 1d9d8aeca10811ebbc640242ac12001b
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched folders
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of folders
                    type: array
                    items:
                      $ref: '#/components/schemas/FolderResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/folders?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /folders/{id}:
    get:
      tags:
        - Library
      summary: GET /folders/{id}
      description: Get a folder
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the folder
          example: 5d7f910551b00a722e0418830cee6632
      responses:
        '200':
          description: Fetched folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /assets:
    get:
      tags:
        - Library
      summary: GET /assets
      description: |
        Get the list of assets. Assets are sorted by `modified_at` in descending order.
        To get assets which are not inside any folder just pass `include_subfolder_assets=false` in the query param.
      parameters:
        - name: type
          in: query
          description: "Asset type to filter by. Example: `type=image&type=video`"
          schema:
            type: array
            items:
              type: string
              enum:
                - article
                - image
                - video
                - raw_file
            default: ['article', 'image', 'video', 'raw_file']
          style: form
          explode: true
          examples:
            single:
              summary: Filter by a single type
              value: ['image']
            multiple:
              summary: Filter by multiple types
              value: ['article', 'image', 'video']
        - name: label
          in: query
          description: 'Label to filter by. Labels which do not exist are ignored. If none of the provided labels exist, filtering is not applied. Example: `label={"group": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}&label={"group": "126123b543912bb5cc12d17b817d9312", "values": ["aa63e3ee43925bb5cc8cd17b817d93aa", "df697bd824a944bf7d4fb6e350d9c5bd"]}`'
          schema:
            type: array
            items:
              type: object
              additionalProperties: false
              properties:
                group:
                  type: string
                  description: Identifier of the label group
                  example: 2467e583a60e23fda2b89db81a453cd2
                values:
                  type: array
                  description: List of identifiers of the label values
                  items:
                    type: string
                    description: Identifier of the label value
                    example: 71c378f3fee3d822759d1bdc2aab628c
              required:
                - group
                - values
          style: form
          explode: true
          examples:
            single:
              summary: Filter by a single label
              value: ['{"group": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}']
            multiple:
              summary: Filter by a multiple labels
              value: ['{"group": "ee63e3ee43925bb5cc8cd17b817d93ee", "values": ["6706efc7828cd6aaedbc0434139cd3e1", "1f32651216cf2aefcaa08be1ea7dedf1"]}', '{"group": "126123b543912bb5cc12d17b817d9312", "values": ["aa63e3ee43925bb5cc8cd17b817d93aa", "df697bd824a944bf7d4fb6e350d9c5bd"]}']
        - name: created_at__from
          in: query
          required: false
          description: "Date and time, in ISO 8601 UTC format as lower limit to filter assets by `created_at`"
          schema:
            type: string
            format: date-time
          example: '2018-11-30T13:32:44Z'
        - name: created_at__to
          in: query
          required: false
          description: "Date and time, in ISO 8601 UTC format as upper limit to filter assets by `created_at`"
          schema:
            type: string
            format: date-time
          example: '2018-11-30T13:32:44Z'
        - name: modified_at__from
          in: query
          required: false
          description: "Date and time, in ISO 8601 UTC format as lower limit to filter assets by `modified_at`"
          schema:
            type: string
            format: date-time
          example: '2018-11-30T13:32:44Z'
        - name: modified_at__to
          in: query
          required: false
          description: "Date and time, in ISO 8601 UTC format as upper limit to filter assets by `modified_at`"
          schema:
            type: string
            format: date-time
          example: '2018-11-30T13:32:44Z'
        - name: folder_id
          in: query
          required: false
          description: ID of the Library folder to include assets from
          schema:
            type: string
          example: 6bb8db20a5b611ebae319b7c541b1a7f
        - name: include_subfolder_assets
          in: query
          required: false
          description: Whether assets from sub folders need to be included or not
          schema:
            type: boolean
            default: true
          example: 'false'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched assets
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/assets?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - Library
      summary: POST /assets
      description: Create a new asset. Supports only **images**, **videos** and **raw files**. _Procedure for uploading an asset are [discussed here](#section/Uploading-assets/Uploading-assets-(images-videos-and-raw-files)-to-Library-or-Task)_.
      requestBody:
        description: Payload to create an asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetRequest'
      responses:
        '201':
          description: Created asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /assets/{asset_id}/versions:
    post:
      tags:
        - Library
      summary: POST /assets/{asset_id}/versions
      description: Add a new version to a library asset. Supports adding version to only **images**, **videos** and **raw files** type assets. _Procedure for uploading a version to a library asset are [discussed here](#section/Uploading-assets/Uploading-assets-(images-videos-and-raw-files)-to-Library-or-Task)_.
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the asset
          example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to add a version to a library asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetRequest'
      responses:
        '201':
          description: Created version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryAssetVersionResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /articles/{id}:
    get:
      tags:
        - Library
      summary: GET /articles/{id}
      description: Get an article
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the article
          example: 5d7f910551b00a722e0418830cee6631

      responses:
        '200':
          description: Fetched article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryArticle'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /images/{id}:
    get:
      tags:
        - Library
      summary: GET /images/{id}
      description: Get an image
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the image
          example: 5d7f910551b00a722e0418830cee6632

      responses:
        '200':
          description: Fetched image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryImage'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Library
      summary: PATCH /images/{id}
      description: Updates an image
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the image
          example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to update the image
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryImagePatchRequest'
      responses:
        '200':
          description: Updated Image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryImage'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags:
        - Library
      summary: DELETE /images/{id}
      description: Delete an image
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the image
          example: 5d7f910551b00a722e0418830cee6632

      responses:
        '204':
          description: Deleted the image
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /videos/{id}:
    get:
      tags:
        - Library
      summary: GET /videos/{id}
      description: Get a video
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the video
          example: 5d7f910551b00a722e0418830cee6633

      responses:
        '200':
          description: Fetched video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryVideo'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Library
      summary: PATCH /videos/{id}
      description: Updates a video
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the Video
          example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to update the video
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryVideoPatchRequest'
      responses:
        '200':
          description: Video Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryVideo'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags:
        - Library
      summary: DELETE /videos/{id}
      description: Delete a video
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the video
          example: 5d7f910551b00a722e0418830cee6633

      responses:
        '204':
          description: Deleted the video
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /raw-files/{id}:
    get:
      tags:
        - Library
      summary: GET /raw-files/{id}
      description: Get a raw file
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the raw file
          example: 5d7f910551b00a722e0418830cee6634

      responses:
        '200':
          description: Fetched raw file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryRawFile'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Library
      summary: PATCH /raw-files/{id}
      description: Updates a raw file
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the Raw File
          example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to update the raw file
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryRawFilePatchRequest'
      responses:
        '200':
          description: Raw File Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryRawFile'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags:
        - Library
      summary: DELETE /raw-files/{id}
      description: Delete a raw file
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the raw file
          example: 5d7f910551b00a722e0418830cee6634

      responses:
        '200':
          description: Deleted the raw file
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /label-groups:
    get:
      tags:
        - Labels
      summary: GET /label-groups
      description: Get the list of label groups. Label groups are sorted by `name` in ascending order.
      parameters:
        - name: source_org_type
          in: query
          description: Source organization type to filter by
          schema:
            type: string
            enum:
              - current
              - related
          example: current
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched label groups
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of label groups
                    type: array
                    items:
                      $ref: '#/components/schemas/LabelGroup'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/label-groups?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tasks/{id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{id}
      description: Get a task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612

      responses:
        '200':
          description: Fetched task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Tasks
      summary: PATCH /tasks/{id}
      description: Update a task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
      requestBody:
        description: Payload to update the task
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskPatchRequest'
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{id}/brief:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{id}/brief
      description: Get brief of the task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
      responses:
        '200':
          description: Fetched brief of the task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskBriefResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{id}/custom-fields:
    get:
      tags:
        - Tasks
      summary: GET tasks/{id}/custom-fields
      description: Get the list of custom fields added to a task.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched custom fields
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of custom fields
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceCustomFieldResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/custom-fields/{custom_field_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}
      description: Get a custom field of a task
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: custom_field_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the custom field
          example: 9nu8ue9wf8u9nusd9q
      responses:
        '200':
          description: Fetched custom field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCustomFieldResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Tasks
      summary: PATCH /tasks/{task_id}/custom-fields/{custom_field_id}
      description: |
        Update a custom field of a task.
        Currently supports update on the following types: `text_field`, `multi_line_text_field`, `checkboxes`, `dropdown`, `multiple_choice`, `date_field`, `rich_text_field`
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: custom_field_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the custom field
          example: 9nu8ue9wf8u9nusd9q

      requestBody:
        description: |
          Payload to update the custom field.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCustomFieldRequest'

      responses:
        '200':
          description: Updated custom field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCustomFieldResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/custom-fields/{custom_field_id}/choices:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/custom-fields/{custom_field_id}/choices
      description: Get the list of the choices of a custom field in a task.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: custom_field_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the custom field
          example: 9nu8ue9wf8u9nusd9q
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched custom field choices
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of custom field choices
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceCustomFieldChoiceResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9/custom-fields/j90uv0sd9i0si09sdip/choices?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      description: Get the sub step of a task
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612

      responses:
        '200':
          description: Fetched task sub step information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}
      description: Update the sub step associated with an external work
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612

      requestBody:
        description: Payload to update the sub step associated with an external work
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepRequest'
            examples:
              is_completed:
                summary: Mark the sub step as completed
                value: {"is_completed": true}
              assignee_id:
                summary: Change assignee of the sub step
                value: {"assignee_id": "5fdf31d57f0d0e362e2b5908"}

      responses:
        '200':
          description: Fetched task sub step information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStep'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      description: Get the external work information of a task external sub step
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612

      responses:
        '200':
          description: Fetched external work information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/external-work
      description: Update the external work information of a task external sub step
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612

      requestBody:
        description: Payload to update the external work information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskExternalWorkRequest'

      responses:
        '200':
          description: Updated external work information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskExternalWorkResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      description: Get the list of the comments of a task sub step
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612
      responses:
        '200':
          description: List of fetched task sub step comments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of sub step comments
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskSubStepCommentResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/7d7f910551b00a722e0418830cee6612/steps/897f910551b00a722e0418830cee6612/sub-steps/700f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Tasks
      summary: POST /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments
      description: Create a task sub step comment
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612

      requestBody:
        description: Payload to create sub step comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentPostRequest'

      responses:
        '201':
          description: Created task sub step comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Get a task sub step comment
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the comment
          example: 5fe3886c574b52a62a089237
      responses:
        '200':
          description: Fetched task sub step comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Tasks
      summary: PATCH /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Update a task sub step comment
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the comment
          example: 5fe3886c574b52a62a089237

      requestBody:
        description: Payload to update the sub step comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskSubStepCommentPatchRequest'

      responses:
        '200':
          description: Updated task sub step comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSubStepCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      tags:
        - Tasks
      summary: DELETE /tasks/{task_id}/steps/{step_id}/sub-steps/{sub_step_id}/comments/{comment_id}
      description: Delete a task sub step comment
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the step
          example: 897f910551b00a722e0418830cee6612
        - name: sub_step_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the sub step
          example: 700f910551b00a722e0418830cee6612
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the comment
          example: 5fe3886c574b52a62a089237

      responses:
        '204':
          description: Deleted task sub step comment
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{id}/assets:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{id}/assets
      description: Get the list of the assets/contents of a task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched assets
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of assets
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskAssetResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Tasks
      summary: POST /tasks/{id}/assets
      description: Add a new asset to task. Supports only **images**, **videos** and **raw files**. _Procedure for uploading an asset are [discussed here](#section/Uploading-assets/Uploading-assets-(images-videos-and-raw-files)-to-Library-or-Task)_.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
      requestBody:
        description: Payload to add an asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetRequest'
      responses:
        '201':
          description: Created asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/assets/{asset_id}/drafts:
    post:
      tags:
        - Tasks
      summary: POST /tasks/{task_id}/assets/{asset_id}/drafts
      description: Add a new draft to a task asset. Supports adding draft to only **images**, **videos** and **raw files** type task assets. _Procedure for uploading a draft to a task asset are [discussed here](#section/Uploading-assets/Uploading-assets-(images-videos-and-raw-files)-to-Library-or-Task)_.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the asset
          example: 5d7f910551b00a722e0418830cee6631
      requestBody:
        description: Payload to add a draft to an asset
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetRequest'
      responses:
        '201':
          description: Created draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetDraftResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{task_id}/assets/{asset_id}/comments:
    get:
      tags:
       - Tasks
      summary: GET /tasks/{task_id}/assets/{asset_id}/comments
      description: List all the comments for the latest version of a task asset.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the asset
          example: 897f910551b00a722e0418830cee6612

      responses:
        '200':
          description: List of comments for the asset
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of comments
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskAssetCommentResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/7d7f910551b00a722e0418830cee6612/assets/897f910551b00a722e0418830cee6612/comments?offset=10&page_size=10
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Tasks
      summary: POST /tasks/{task_id}/assets/{asset_id}/comments
      description: Add a comment to the latest version of a task asset. Supports adding comments to only **images**, **videos** and **raw files** type assets.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 7d7f910551b00a722e0418830cee6612
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the asset
          example: 897f910551b00a722e0418830cee6612

      requestBody:
        description: Payload to add comment
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentPostRequest'

      responses:
        '201':
          description: Added comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAssetCommentResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /tasks/{id}/attachments:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{id}/attachments
      description: Get the list of the attachments of a task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: List of fetched attachments
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    description: List of attachments
                    type: array
                    items:
                      $ref: '#/components/schemas/AttachmentResponse'
                  pagination:
                    allOf:
                      - $ref: '#/components/schemas/Pagination'
                      - type: object
                        properties:
                          next:
                            nullable: true
                            example: https://api.welcomesoftware.com/v3/tasks/attachments?offset=10&page_size=10
                required:
                  - data
                  - pagination
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/articles/{article_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/articles/{article_id}
      description: Get an article associated with the task identified by task_id
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: article_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the article associated with the task
          example: 5d7f910551b00a722e0418830cee6631
      responses:
        '200':
          description: Fetched article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskArticle'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/images/{image_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/images/{image_id}
      description: Get an image associated with the task identified by task_id
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: image_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the image associated with the task
          example: 5d7f910551b00a722e0418830cee6632
      responses:
        '200':
          description: Fetched image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskImage'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/videos/{video_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/videos/{video_id}
      description: Get a video associated with the task identified by task_id
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: video_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the video associated with the task
          example: 5d7f910551b00a722e0418830cee6633
      responses:
        '200':
          description: Fetched video
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskVideo'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/raw-files/{raw_file_id}:
    get:
      tags:
        - Tasks
      summary: GET /tasks/{task_id}/raw-files/{raw_file_id}
      description: Get a raw file associated with the task identified by task_id
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the task
          example: 5f857f30e1c4a2038d6179e9
        - name: raw_file_id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the raw file associated with the task
          example: 5d7f910551b00a722e0418830cee6634
      responses:
        '200':
          description: Fetched raw file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskRawFile'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /campaigns/{id}:
    get:
      tags:
        - Campaigns
      summary: GET /campaigns/{id}
      description: Get a campaign
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the campaign
          example: 8q7f910551b00a722e0418830cee6612

      responses:
        '200':
          description: Fetched campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users:
    get:
      tags:
        - Users
      summary: GET /users
      description: Find a user by email address
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            description: Email address of the user
          example: john.doe@example.com

      responses:
        '302':
          description: Redirect to the discovered user
          headers:
            Location:
              schema:
                type: string
              description: URL of the discovered user
              example: https://api.welcomesoftware.com/v3/users/5fe4925ef8a9378056bf4e37
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{id}:
    get:
      tags:
        - Users
      summary: GET /users/{id}
      description: Get a user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            description: Unique identifier of the user
          example: 5fe4925ef8a9378056bf4e37

      responses:
        '200':
          description: Fetched user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /settings:
    get:
      tags:
        - Settings
      summary: GET /settings
      description: Get settings
      responses:
        '200':
          description: Fetched settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingResource'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Settings
      summary: POST /settings
      description: |
        Create or update settings
        ## Import Behaviour:
        - Label: 
            - If label-group with the same name exists, the label-group will be updated.
              - Labels will get merged.
              - If label with same name exists, it will be overwritten.
            - If no label-group with same name exists, new label-group will be created.
        - Custom Fields:
            - If custom field with the same name exists, the custom field will be updated and it's choices will get merged.
            - If no custom field with same name exists, new custom field will be created.
        - Workflows:
            - If the query param overwrite_workflows=true the existing workflows will be overwritten.
              Otherwise a new workflow will be created where prefix `Copy of` will be added with the name of the workflow.
        - Webhooks:
            - If one single webhook with the same name exists, the webhook will be updated and it's events will get merged. 
            - If multiple webhooks with same name exist, new webhook will be created.
            - If no webhook with same name exists, new webhook will be created.
        - Apps:
            - If one single app with the same name exists, the app will be updated and it's authorization callback urls will be merged.
            - If multiple apps with same name exist, new app will be created.
            - If no app with same name exists, new app will be created.
        - Templates:
            - If one single template with the same name exists, the template will be updated.
            - If multiple templates with same name exist, new template will be created.
            - If no template with same name exists, new template will be created.
        - Routing Rules:
            - If one single routing rule with the same name exists, the routing rule will be updated.
            - If multiple routing rules with same name exist, new routing rule will be created.
            - If no routing rule with same name exists, new routing rule will be created. 
      parameters:
        - name: execute
          in: query
          required: false
          description: if `execute=true` the settings will be created/updated otherwise the endpoint will only return the changeset 
          schema:
            type: boolean
          example: true
        - name: overwrite_workflows
          in: query
          required: false
          description: if `overwrite_workflows=true` the existing workflows will be overwritten otherwise a new workflow will be created where prefix `Copy of` will be added with the name of the workflow.
          schema:
            type: boolean
          example: true
        
      requestBody:
        description: Payload to create or update settings
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingResource'
      responses:
        '200':
          description: Created or Updated settings and changeset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingPostResource'
        '400':
          $ref: '#/components/responses/ClientError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:

  responses:
    ClientError:
      description: Client error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: 'Unsupported arguments: a,b,c'

    Unauthorized:
      description: Authorization error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Unauthorized

    Forbidden:
      description: Permission error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: User does not have the permission to perform this operation

    NotFound:
      description: Not found error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found

    UnprocessableEntity:
      description: Unprocessable entity error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource is unprocessable

  schemas:
    TaskPatchRequest:
      type: object
      additionalProperties: false
      properties:
        labels:
          type: array
          nullable: false
          description: Labels to associate
          items:
            $ref: '#/components/schemas/ResourceLabelRequest'

    AssetRequest:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
          maxLength: 100
          description: Unique identifier of the file upload session. This is the `upload_meta_fields.key` field which was retrieved from the `/v3/upload-url` endpoint
        title:
          type: string
          minLength: 1
          maxLength: 100
          description: Title of the asset
          example: sample_image.png
        # file_location:
        #   type: string
        #   maxLength: 500
        #   description: Folder location of the asset in Library
        #   example: /all assets/important assets
        # labels:
        #   type: array
        #   description: Labels to be associated to the asset
        #   items:
        #     $ref: '#/components/schemas/ResourceLabelRequest'
      required:
        - key
        - title
        # - file_location
        # - labels

    AssetResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier for the asset
          example: 5d7f910551b00a722e0418830cee6631
        title:
          type: string
          description: Title of the asset
          example: sample_image.png
        type:
          type: string
          enum:
            - article
            - image
            - video
            - raw_file
          description: Type of the asset
          example: image
        mime_type:
          type: string
          description: MIME type of the asset
          example: image/png
        created_at:
          type: string
          format: date-time
          description: Date and time, in ISO 8601 UTC format, on which the asset has been created (eg. 2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
        modified_at:
          type: string
          format: date-time
          description: Date and time, in ISO 8601 UTC format, of the most recent modification of the asset (eg. 2020-02-10T10:40:45Z)
          example: '2019-10-07T13:15:30Z'
        folder_id:
          type: string
          nullable: true
          description: ID of the folder containing the asset in Library
          example: 6bb8db20a5b611ebae319b7c541b1a5a
        file_location:
          type: string
          description: Location of the folder containing the asset in Library
          example: /all assets/important assets
        content:
          $ref: '#/components/schemas/AssetContent'
        labels:
          type: array
          description: Labels associated to the asset
          items:
            $ref: '#/components/schemas/ResourceLabelResponse'
        links:
          type: object
          additionalProperties: false
          description: Meta links
          properties:
            self:
              type: string
              description: URL of the asset, currently only GET is supported
              example: https://api.welcomesoftware.com/v3/images/5d7f910551bw0a722e0418830cee6631
          required:
            - self
        owner_organization_id:
          type: string
          nullable: false
          description: ID of the asset's owner organization
          example: 5108c3a9becac35915111191
      required:
        - id
        - title
        - type
        - mime_type
        - created_at
        - modified_at
        - folder_id
        - file_location
        - content
        - labels
        - links
        - owner_organization_id

    LibraryAssetVersionResponse:
      type: object
      additionalProperties: false
      properties:
        version_number:
          type: integer
          description: The serial number of the version
          example: 2
        asset_id:
          type: string
          description: Unique identifier of the asset
          example: 5d7f910551b00a722e0418830cee6631
        title:
          type: string
          description: Title of the asset
          example: sample_image.png
        type:
          type: string
          enum:
            - image
            - video
            - raw_file
          description: Type of the version
          example: image
        mime_type:
          type: string
          description: MIME type of the version
          example: image/png
        created_at:
          type: string
          format: date-time
          description: Date and time, in ISO 8601 UTC format, on which the version has been created (eg. 2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
        content:
          description: Content of the version
          type: object
          additionalProperties: false
          properties:
            type:
              type: string
              description: Type of the content
              enum:
                - url
              example: url
            value:
              type: string
              description: Content of the version. For image, raw file and video it is the download URL
              example: http://images.welcomesoftware.com/Zz0xODQ3NDU3Y2Y2YmYzOTlmNjkyOTgyZDY3Y2I3YWM2OA==S
          required:
            - type
            - value
        links:
          type: object
          additionalProperties: false
          description: Meta links
          properties:
            asset:
              type: string
              description: URL of the asset that the version is associated with
              example: https://api.welcomesoftware.com/v3/images/5d7f910551b00a722e0418830cee6631
          required:
            - asset
      required:
        - version_number
        - asset_id
        - title
        - type
        - mime_type
        - created_at
        - content
        - links

    LibraryImagePatchRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          nullable: false
          description: Title of the image
          example: cat.jpeg
        is_public:
          type: boolean
          nullable: false
          description: Whether the image url should be public or not
          example: true
        labels:
          type: array
          nullable: false
          description: Labels to associate with the image
          items:
            $ref: '#/components/schemas/ResourceLabelRequest'

    LibraryVideoPatchRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          nullable: false
          description: Title of the video
          example: product.mp4
        is_public:
          type: boolean
          nullable: false
          description: Whether the video url should be public or not
          example: true
        labels:
          type: array
          nullable: false
          description: Labels to associate with the video
          items:
            $ref: '#/components/schemas/ResourceLabelRequest'

    LibraryRawFilePatchRequest:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          nullable: false
          description: Title of the raw file
          example: documents.zip
        is_public:
          type: boolean
          nullable: false
          description: Whether the raw file url should be public or not
          example: true
        labels:
          type: array
          nullable: false
          description: Labels to associate with the raw file
          items:
            $ref: '#/components/schemas/ResourceLabelRequest'


    AttachmentRequest:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 100
          description: Unique identifier of the file upload session. This is the `upload_meta_fields.key` field which was retrieved from the `/v3/upload-url` endpoint
          example: ce8995aea58b11ea8cd90242ac120005
        name:
          type: string
          minLength: 1
          description: Filename of the attachment
          example: sample_image.png
      required:
        - key
        - name

    AttachmentResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier for the attachment
          example: 5a7f910511b0a72230ce6631
        name:
          type: string
          description: Filename of the attachment
          example: sample_image.png
        url:
          type: string
          description: Download URL of the attachment
          example: https://files.welcomesoftware.com/download/2115bfe4450c11ebaae8000c291b51d4
      required:
        - id
        - name
        - url

    TaskAssetResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier for the asset
          example: 5d7f910551b00a722e0418830cee6631
        title:
          type: string
          description: Title of the asset
          example: sample_image.png
        type:
          type: string
          enum:
            - article
            - image
            - video
            - raw_file
          description: Type of the asset
          example: image
        mime_type:
          type: string
          description: MIME type of the asset
          example: image/png
        created_at:
          type: string
          format: date-time
          description: Date and time, in ISO 8601 UTC format, on which the asset has been created (eg. 2020-02-10T10:40:45Z)
          example: '2019-10-06T13:15:30Z'
        modified_at:
          type: string
          format: date-time
          description: Date and time, in ISO 8601 UTC format, of the most recent modification of the asset (eg. 2020-02-10T10:40:45Z)
          example: '2019-10-07T13:15:30Z'
        content:
          $ref: '#/components/schemas/AssetContent'
        labels:
          type: array
          description: Labels associated to the asset
          items:
            $ref: '#/components/schemas/ResourceLabelResponse'
        links:
          type: object
          additionalProperties: false
          description: Meta links
          properties:
            self:
              type: string
              description: URL of the asset
              example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9/image/5d7f910551b00a722e0418830cee6631
            task:
              type: string
              description: URL of the task that the asset is associated with
              example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9
            drafts:
              type: string
              nullable: true
              description: URL to POST draft to the asset, always null for **article**, non null for **image**, **video** and **raw file**.
              example: https://api.welcomesoftware.com/v3/tasks/5f857f30e1c4a2038d6179e9/assets/5d7f910551b00a722e0418830cee6631/drafts
            web_urls:
              type: object
              additionalProperties: false
              description: Web URLs
              properties:
                self:
                  type: string
                  description: Web URL of the asset
                  example: https://app.welcomesoftware.com/cloud/taskv3/5f857f30e1c4a2038d6179e9?contentTabGuid=5d7f910551b00a722e0418830cee6631
                task:
                  type: string
                  description: Web URL of the task that the asset is associated with
[...]
